@model Customer


<h1>Customer Record</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Phone</h6>
        <p class="card-text">Address: @Model.Address</p>
        <p class="card-text">Age: @Model.Age</p>
    </div>
</div>